.s{
    background-image: url('./main-bg.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

body{
margin: 0;
}

.z, .y, .h{
    font-family: 'Bebas';
    color: white;
    text-align: center;
}
.y{
    font-weight: bold;
    font-size: 49px;
    letter-spacing: 4px;
    margin: 0;
}
.z{
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    letter-spacing: 3px;
}
.h{
    letter-spacing: 3px;
}
.menu {
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #48555b;
}
.E{
    width: 76px;;
    height: 19px;
}

.m{
    display: flex;
    width: 340px;
    justify-content: space-between;
    font-weight: bold;
    color: #48555b;
    font-family: 'Bebas';
}

.bn {
    font-family: 'Bebas';
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-size: 36px;
}

.yh {
    background-color: #00A4E5;
    height: 3px;
    width: 60px;
    margin: 0 auto;
    
}

.nm {
    display: flex;
    width: 1150px;
    margin: 0 auto;
}

.ter {
    width: 50%;
    padding-right: 19px;
}

.lop {
    font-family: 'Bebas';
    font-size: 36px;
    font-weight: bold;
}

.pol {
    font-size: 18px;
    font-family: 'Bebas';
}

.cft {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.q {
    height: 222px;
    width: 140px;
    background-image: url(./Bitmap\ \(2\).png);
    color: white;
    font-size: 20px;  
    font-weight: bold;
    font-family: 'Bebas';
    box-sizing: border-box;
}
.o{
    background-image: url(./Bitmap\ \(1\).png);
    height: 222px;
    width: 140px;
    color: white;
    font-weight: bold;
    font-size: 20px;  
    font-family: 'Bebas';
    box-sizing: border-box;
}
.b{
    background-image: url(./Bitmap.png);
    height: 222px;
    width: 140px;
    font-weight: bold;
    color: white;
    font-size: 20px; 
    font-family: 'Bebas';
    box-sizing: border-box; 
    
    
}
.blocks{
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    width: 100%;
    margin:auto ;
}
.imgs{
    width: 32%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 39px 22px 39px 22px;
    margin-top: 50px;
}
.PO{
 color:#48555B;
 font-size: 16px;
 font-family: 'Open Sans', sans-serif;
 font-weight: bold;
 letter-spacing: 0.19 px;
 margin-bottom: 13px;
}
.juo{
    color:#48555B;
 font-size: 13px;
 font-family: 'Open Sans', sans-serif;

}
@media (max-width: 755px) {
    .blocks{
        display: block;
    }
    .imgs{
        width: 60%;
        margin: auto;
    }
    
}
@media (max-width:425px) {
    .imgs{
        width: initial;
    }
    
}




   
